{% extends "::layout/layout.html.twig" %}
{%  block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">



            <div class="col-md-9">

                <div class="row carousel-holder">

                    <iframe src="https://drive.google.com/file/d/0BxDUZQdoJxYzOHNfTi15b2daRlU/preview" width="840" height="480"></iframe>

                </div>

                <div class="row">

                    <div>text about web app working</div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}